<div class="main">
  <%= render "shared/slide" %>
  <%= render "shared/favorite_food" %>
  <%= render "shared/category_food_drink" %>
  <%= will_paginate @categories, class: "paginate-homepage" %>
</div>
