# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you"ll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you"re sharing your code publicly.

development:
  secret_key_base: eeee8cb250d25511764a2d70a9112587d85382e51d924c4c106f48111866bee249e45c8439ec13df202270efab2d906e4d35ac17eac7bed94beafd5afa5bbccf

test:
  secret_key_base: ec0b4ae81a044e0234d3c3457d8db563dea00d45dc2289372aa672195860c1e71ed8e65702bee855e7c6d0d28fa06bd02d8074c34fe9200bba22081c2b1bb77f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
