@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */

$crimson: #dc143c;
$gray-hex: #8c8b8b;
$red: #f00;
$purple: #800080;
$orange: #ffa500;
$sienna: #a0522d;
$hotpink: #ff69b4;
$lime-green: #32cd32;
$black: #000;
$white: #fff;
$pink: #d17581;
$gray-light-hex: #aaa;
$blue-light-hex: #0099aa;
$rgba-a: rgba(0, 0, 0, 0.2);
$rgba-b: rgba(0, 0, 0, 0.19);

/* body */

body {
  padding-top: 60px;
}

.fav-form {
  margin-right: 120px;
  padding-bottom: 14px;
  padding-top: 12px;
}

.fav-food {
  color: $crimson;
}

.food-drink-form {
  margin-top: 50px;

  .work {
    padding-bottom: 14px;
    padding-top: 12px;
  }
}

.see-all-button {
  margin-top: 20px;
}

/*slide*/

.image-slide {
  width: 100%;
}

.style-hr {
  border: 0;
  box-shadow: 0 10px 10px -10px inset;
  color: $gray-hex;
  height: 10px;
}

/* form */

.create {
  margin-top: 15px;
}

.search-index {
  margin-bottom: 30px;
  margin-top: 30px;
  li {
    color: $red;
    span {
      color: $black;
      font-style: italic;
    }
  }
}

.red-mark {
  color: $red;
}

#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin-bottom: 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.sign-up {
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
}

.show_category {
  margin-bottom: 60px;
  margin-top: 20px;
}

.title {
  color: $purple;
}

.add {
  color: $orange;
}

.img {
  a{
    text-decoration: none;
  }
}

.add-product {
  float: right;
  padding-bottom: 15px;
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.list {
  color: $sienna;
}

.icon-edit {
  font-size: 20px;
  color: $black;
}

.custom-btn {
  background-color: $hotpink;
}

.plus-edit {
  color: $lime-green;
  a {
    color: $black;
  }
}

.search-button {
  margin-left: 195px;
}

/* User Profile */

.profile {
  margin-bottom: 40px;
  margin-top: 20px;
}

.avatar {
  margin-top: 20px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

/*comment*/
.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

.delete-comment-dropdown {
  cursor: pointer;
}

.stars {
  margin: 20px 0;
  font-size: 24px;
  color: $pink;
}

/* show comment*/
/*font Awesome http://fontawesome.io*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/*Comment List styles*/
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: $white;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: $white;
    border-width: 15px;
  }
}
.comment-list .comment-post {
  margin-top: 6px;
}

#comment-pagination {
  display: none;
}

/* carts */

.carts {
  padding-left: 200px;
}

.cart-form {
  margin-top: 40px;
  margin-bottom: 40px;
}

.cart-form .panel-heading h4.text-center{
  margin: 5px 0;
}

.text-right {
  color: $black;
}

.cart-icon {
  font-size: 30px;
}

/* add comment*/

#post-review-box {
  display: none;
}

.text-right {
  padding-top: 10px;
}

/* show product */

#food_detail {
  padding-top: 30px;
}
.action-button {
  float: right;
  margin-top: -35px;
}

.image-delete {
  float: right;
}

.badge-size {
  margin-top: -28px;
}

/*
Start rating
 */

.rating-loading {
  width: 25px;
  height: 25px;
  font-size: 0;
  color: $white;
  background: transparent url('loading.gif') top left no-repeat;
  border: none;
}

.out_stock_rating {
  padding-top: 50px
}

/*
 * Stars & Input
 */
.rating-container .rating-stars {
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.rating-container .rating-input {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  font-size: 1px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.rating-disabled .rating-input, .rating-disabled .rating-stars {
  cursor: not-allowed;
}

.rating-container .star {
  display: inline-block;
  margin: 0 3px;
  text-align: center;
}

.rating-container .empty-stars {
  color: $gray-light-hex;
}

.rating-container .filled-stars {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  color: #fde16d;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-stroke: 1px #777;
  text-shadow: 1px 1px #999;
}

.rating-rtl {
  float: right;
}

.rating-animate .filled-stars {
  transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
}

.rating-rtl .filled-stars {
  left: auto;
  right: 0;
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
}

.rating-rtl.is-star .filled-stars {
  right: 0.06em;
}

.rating-rtl.is-heart .empty-stars {
  margin-right: 0.07em;
}

/**
 * Sizes
 */
.rating-xl {
  font-size: 4.89em;
}

.rating-lg {
  font-size: 3.91em;
}

.rating-md {
  font-size: 3.13em;
}

.rating-sm {
  font-size: 2.5em;
}

.rating-xs {
  font-size: 2em;
}

.rating-xl {
  font-size: 4.89em;
}

/**
 * Clear
 */
.rating-container .clear-rating {
  color: #aaa;
  cursor: not-allowed;
  display: inline-block;
  vertical-align: middle;
  font-size: 60%;
}

.clear-rating-active {
  cursor: pointer !important;
}

.clear-rating-active:hover {
  color: #843534;
}

.rating-container .clear-rating {
  padding-right: 5px;
}

/**
 * Caption
 */
.rating-container .caption {
  color: #999;
  display: inline-block;
  vertical-align: middle;
  font-size: 60%;
  margin-top: -0.6em;
}

.rating-container .caption {
  margin-left: 5px;
  margin-right: 0;
}

.rating-rtl .caption {
  margin-right: 5px;
  margin-left: 0;
}

/**
 * Print
 */
@media print {
  .rating-container .clear-rating {
    display: none;
  }
}

/*
 * Header
 */

.hovereffect:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
  font-size: 12px
}

#login-dp .bottom {
  background-color: rgba(255, 255, 255, .8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}

#login-dp .social-buttons {
  margin: 12px 0
}

#login-dp .social-buttons a {
  width: 49%;
}

#login-dp .form-group {
  margin-bottom: 10px;
}

.btn-fb {
  color: #fff;
  background-color: #3b5998;
}

.btn-fb:hover {
  color: #fff;
  background-color: #496ebc
}

.btn-gg {
  color: #ffffff;
  background-color: #ce3400;
}

.btn-gg:hover {
  color: #ffffff;
  background-color: #ea3a00;
}

@media ( max-width :768px) {
  #login-dp {
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background: none;
  color: #e94e02;
}

ul.dropdown-menu {
  animation: flipInX 1s ease;
  -moz-animation: flipInX 1s ease;
  -webkit-animation: flipInX 1s ease;
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -moz-backface-visibility: visible !important;
  data-wow-delay: ".1s";
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

#header{
  top: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: White;
  border: 1px solid #e0e0e0;
}

#logo_header{
  background-color: #ed3554;
  color: white;
}

#search{
  width: 400px;
}

.badge {
  background-color: #6394F8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
}
.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-price {
  color: #6394F8;
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: $blue-light-hex;
  color: $white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}
.button:hover {
  background: #729ef9;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
#cart_ultag {
  padding-top: 15px;
  margin-left: 10px;
}

#cart {
  text-decoration: none;
}

#advance-search {
  margin-top: 16px;
  a {
    color: #777;
  }
}

.carts_size {
  display: inline;
}

.total-cost {
  display: inline;
}

.product_price {
  display: inline;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 $rgba-a, 0 6px 20px 0 $rgba-b;
}

.title-padding {
  padding-top: 30px;
}

.title-categories {
  font-size: 30px;
}
.no-product {
  padding-top: 20px;
  padding-bottom: 20px;
}

.product-cart {
  padding-bottom: 15px;
  padding-top: 15px;
}

/**
 * Order
 */

.list-group-item {
  .item-order {
    text-decoration: none;
    cursor: pointer;
  }
}
#accordion .glyphicon {
  margin-right:10px;
}
.panel-collapse>.list-group .list-group-item:first-child {
  border-top-right-radius: 0;border-top-left-radius: 0;
}
.panel-collapse>.list-group .list-group-item {
  border-width: 1px 0;
}
.panel-collapse>.list-group {
  margin-bottom: 0;
}
.panel-collapse .list-group-item {
  border-radius:0;
}
.paginate-homepage {
  text-align: center;
  width: 100%;
}
